body {
color: #FF8500;
background-color: #19C0FF;
text-align: center;
font-family: sans-serif;
font-weight: bold;
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden; 
}
h1 {
color: #FF8500;
text-align: center;	
}
p {

	
}
ul {
font-size: 30px;
list-style-type: square;
text-align: center;
list-style-position: inside;	
}
li {

	
}
img {

	
}
#slogan {
font-style: italic;

}